@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700&family=Space+Mono:wght@700&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

.container{
    max-width: 1140px;
    margin: auto;
}

.not-found-headline {
    color: #333;
    font-family: Inconsolata;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: -1.92px;
    text-transform: uppercase;
    margin: 40px 0;
}

/* news section design */
.news{
    display: flex;
    justify-content: center;
    align-items: center;
}
.news-section{
    display: flex;
    gap: 30px;
}
.news-image{
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 2px 24px 0px rgba(0, 0, 0, 0.10);
    width: 55%;
    height: auto;
}
.news-content h2{
    color:  #333;
    font-family: Space Mono;
    font-size: 55px;
    font-weight: 700;
    letter-spacing: -2.24px;
    margin-top: 30px;
}

.news-content p{
    color: #4F4F4F;
    font-family: Space Mono;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: -0.84px;
}

.news-content button{
    color: #FFF;
    font-family: Space Mono;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: -0.49px;
    text-transform: uppercase;
    background: #333;
    padding: 18px 40px;
    border: 0;
    margin-top: 20px;
}

.copy-wright{
    color: #BDBDBD;
    text-align: center;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 500;
    margin-top: 25px;
}

.copy-wright span{
    color: #BDBDBD;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 700;
    text-decoration-line: underline;
}

/* responsive for mobile device */
@media screen and (max-width: 570px) {
    .not-found-headline{
        margin-left: 20px;
    }
    .news-section{
        flex-direction: column;
    }
    .news-image{
        width: 100%;
    }
    .news-content{
        padding: 20px;
    }
    .copy-wright{
        margin-bottom: 20px;
    }

}